version: '3.8'

services:
  web:
    build: .
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=wagy_user
      - POSTGRES_PASSWORD=wagy_password
      - POSTGRES_DB=wagy_db
    ports:
      - "5432:5432"

volumes:
  postgres_data:
